@import url("/css/other_css/colors.css");
* {
  box-sizing: border-box; }

html {
  margin: 0; }

body {
  margin: 0;
  font-family: 'Be Vietnam', Helvetica, sans-serif;
  text-align: center; }

@media (max-width: 1600px) {
  .container-fluid {
    padding: 40px 180px; } }

@media (max-width: 767px) {
  .container-fluid {
    padding: 60px 20px; } }

.jumbotron-fluid {
  background: no-repeat 40% 30% url(/img/bg-of.png);
  font-family: 'Indie Flower', cursive;
  background-size: cover;
  height: 100vh; }

h1 {
  position: relative;
  top: 3%; }

h2 {
  position: relative;
  top: 6%; }

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger6.svg?color=000"); }

.logo {
  max-width: 30px; }

h3, h4 {
  color: var(--main-blue);
  text-align: center;
  padding: 0;
  margin-bottom: 2rem; }

section#abilities, section#contact {
  background-color: var(--bg-blue); }

section#contact {
  background-color: var(--main-blue); }

.project-card {
  background-color: rgba(220, 240, 249, 0.411);
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 15px 15px; }
  .project-card #cardimg {
    width: 100%;
    height: auto; }

.row {
  padding: 0;
  margin: 0; }

.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.stars-box {
  text-align: right;
  float: right; }

li {
  text-align: left;
  padding-bottom: 0.5em; }

.icon {
  margin: auto;
  color: white; }
  .icon:hover {
    color: var(--light-blue); }

.contact {
  padding-bottom: 1rem;
  color: white; }
  .contact h3 {
    color: var(--lightest-blue); }

.contact-box {
  text-align: center;
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */ }
  .contact-box form {
    padding: 2em; }
  .contact-box input[type=text], .contact-box select, .contact-box textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical; }
  .contact-box input[type=submit] {
    background-color: #fdfdfd;
    color: var(--main-blue);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  .contact-box input[type=submit]:hover {
    background-color: var(--lightest-blue); }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0); } }

.pulse {
  position: relative;
  left: 40%;
  top: 50%;
  margin: 75px 40px 0 40px;
  width: 200px;
  height: 60px;
  font: 13px/60px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgba(28, 120, 163, 0.6);
  border-radius: 3px;
  animation: shadow-pulse 1s 3; }

/*# sourceMappingURL=style.css.map */
